#tx_parsedown_preview {
	padding: 0.75em;
	position: relative;
	background-color: #fefefe;
	border: 1px solid #7c7c7c;
	border-radius: 2px;
}

#tx_parsedown_preview code,
#tx_parsedown_preview pre {
	padding: 0.75em;
	position: relative;
	background-color: #f3f3f3;
	border: 1px solid #d8d8d8;
	border-radius: 2px;
}

#tx_parsedown_preview code {
	padding: 0.25em;
}

#tx_parsedown_preview pre code {
	padding: 0;
	position: inherit;
	background-color: inherit;
	border: none;
	border-radius: 0;
}

#tx_parsedown_preview blockquote {
	padding: 0 .75em 0 1.25em;
	border-left: 1px solid #777;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}